a:link {
    text-decoration: none;
    font-size =14pt;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover {
    font-size =18pt;
    color: cadetblue;
}

.button{
    background-color:#0094ff;
    color:#fff;
    font-size:14pt;
}